*{
	box-sizing: border-box;
}

html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
	margin: 0;
	padding: 0;
	font-family:Arial,Verdana,Sans-serif;
}

fieldset,img {
	border: none;
	vertical-align: top;
}

address,caption,cite,code,dfn,th,var {
	font-style: normal;
	font-weight: normal;
}

ul,ol,li {
	list-style: none;
}

a {
	text-decoration: none;
}

.clearfix:after{
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}